body{
    background: #3F4E8A;
    color: white;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

h1, h2, p{
    margin: 10px;
}
